.ClientRoleDialog {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .RolePrefix {
    margin: 0 0.25rem 0.25rem;
    font-size: 1rem;

    &.error {
      margin-bottom: 1.6rem;
    }
  }
}
