.ClientConfig {
  .Field {
    margin-bottom: 1rem;
    flex: 1;
    width: 100%;

    &.shrink {
      flex: 0;
    }
  }

  .divider {
    margin-bottom: 2rem;
  }

  .AddRedirect {
    width: 100%;
  }

  .Actions {
    margin-top: 2rem;
  }
}