apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-management-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-management-ui
  template:
    metadata:
      labels:
        app: auth-management-ui
    spec:
      containers:
        - name: auth-management-ui
          image: craigmiller160.ddns.net:30004/auth-management-ui:1.7.5
          ports:
            - containerPort: 443
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: 443
              scheme: HTTPS
            initialDelaySeconds: 10
            periodSeconds: 300
---
apiVersion: v1
kind: Service
metadata:
  name: auth-management-ui-service
spec:
  type: ClusterIP 
  selector:
    app: auth-management-ui
  ports:
    - port: 443
      targetPort: 443
      protocol: TCP
